@import url(common.css);

@keyframes smartphone-anim {
  0% {
    transform: translate(50px, 0) scale(0.7) rotate3d(-1, 1, 1, 45deg);
    text-shadow: 3px 3px var(--primary);
    box-shadow: 10px 10px var(--primary);
  }
  50% {
    transform: translate(50px, -100px) scale(0.7) rotate3d(-1, 1, 1, 60deg);
    text-shadow: 6px 3px var(--primary);
    box-shadow: 30px 10px var(--primary);
  }
  100% {
    transform: translate(50px, 0) scale(0.7) rotate3d(-1, 1, 1, 45deg);
    text-shadow: 3px 3px var(--primary);
    box-shadow: 10px 10px var(--primary);
  }
}

/* The device with borders */
.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
  animation-name: smartphone-anim;
  animation-duration: 15s;
  animation-iteration-count: infinite;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: "";
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

/* The circle on the bottom of the device */
.smartphone:after {
  content: "";
  display: block;
  width: 35px;
  height: 35px;
  position: absolute;
  left: 50%;
  bottom: -65px;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 50%;
}

/* The screen (or content) of the device */
.smartphone .content {
  width: 360px;
  height: 640px;
  background: white;
}

.smartphone-text {
  position: absolute;
  left: -50%;
  top: 20%;
  font-size: 5rem;
  color: var(--secondary);
  font-family: "Fira Mono", monospace;
  text-shadow: inherit;
}

.offer-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.offer {
  margin: 1rem;
  border: 1px solid grey;
  background: #113;
  padding: 1rem;
  box-shadow: 5px 5px var(--primary);
  flex-basis: 0;
  flex: 1 1 0px;
}

.offer-title {
  color: var(--secondary);
  font-family: "Fira Mono", monospace;
  text-shadow: 1px 1px var(--primary);
}

.offer-body {
  font-size: 1.2rem;
}

.offer-btn {
  appearance: none;
  border: none;
  margin-top: 1rem;
  font-family: inherit;
  font-size: 1.2rem;
  padding: 5px;
  outline: none;
  color: white;
  transition: 0.1s;
  background: var(--secondary);
  display: block;
  box-shadow: 5px 5px 0px #a10f2c;
  cursor: pointer;
}

.offer-btn:hover {
  transform: scale(1.1);
}

.offer-btn:active {
  transform: none;
}

@keyframes scroll-down-anim {
  50% {
    transform: translate(0, 30px);
  }
}

.scroll-down {
  position: fixed;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  left: calc(50vw - 32px);
  bottom: 50px;
  background: var(--secondary);
  cursor: pointer;
  box-shadow: 5px 5px #22e674;
  animation-name: scroll-down-anim;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

.scroll-down-arrow {
  position: absolute;
  border-right: white 10px solid;
  border-bottom: white 10px solid;
  width: 20px;
  height: 20px;
  top: 20px;
  left: 17px;
  transform: rotate(45deg);
}

.scroll-down-arrow-line {
  position: absolute;
  width: 12px;
  height: 30px;
  top: 13px;
  left: 26px;
  background: white;
}

@media (max-width: 1000px) {
  .offer-container {
    flex-direction: column;
  }
}
